body {
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b1b1b;
  margin: 0;
  padding: 0;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 15%;
  background-color: #303030;
  min-height: 100vh;
}

ul {
  display: table;
  justify-content: center;
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

li {
  display: table-cell;
  padding: 0;
}

li a {
  display: block;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}

.top-navigation-button {
  font: 30px "Fira Sans", sans-serif;
  background-color: brown;
}

.top-navigation-button:hover {
  background-color: #ac6b6b;
}

a {
  color: white
}